<p><TMPL_VAR BASIC.LABEL_PLUGIN></p>

<h2><TMPL_VAR BASIC.LABEL_SETTINGS></h2>
<form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi">
		<div class="form-group">
			<table class="formtable" border="0" width="100%">
				<tr><TMPL_VAR ACTIVATED>
				</tr>
				<tr>
					<td width="25%">
						<label id="labelauto"><TMPL_VAR SETTINGS.LABEL_ENABLED></label>
					</td>
					<td width="50%">
						<table border=0 width="100%">
						<tr>
						<td width="20%">
						<fieldset>
						<TMPL_VAR GETDATA>
						</fieldset>
						</td>
						<td>
						<TMPL_VAR CRON>
						</td>
						</tr>
						</table>
					</td>
					<td width="5%" valign="middle">
						&nbsp;
					</td>
					<td width="20%">
						<font size="-1"><TMPL_VAR SETTINGS.HINT_FREE_ACCOUNT></font>
					</td>
				</tr>
				<tr>
					<td width="25%">
						<label id="labelSettingsSmId"><TMPL_VAR SETTINGS.LABEL_SMID></label>
					</td>
					<td width="50%">
							<input id="settingsSmId" name="settingsSmId" type="text" data-validation-rule="special:alphanumeric" class="textfield" value="<TMPL_VAR SOLARMANAGER_CONFIG.ID>" 
							data-validation-error-msg="<TMPL_VAR SETTINGS.HINT_SM_ID>">
					</td>
					<td width="5%" valign="middle">
						&nbsp;
					</td>
					<td width="20%">
						<font size="-1"><TMPL_VAR SETTINGS.HINT_SM_ID></font>
					</td>
				</tr>
				<tr>
					<td width="25%">
						<label id="labelSettingUsername"><TMPL_VAR SETTINGS.LABEL_USERNAME></label>
					</td>
					<td width="50%">
							<input id="settingsUsername" name="settingsUsername" type="text" data-validation-rule="special:alphanumeric" class="textfield" value="<TMPL_VAR SOLARMANAGER_CONFIG.USERNAME>" 
							data-validation-error-msg="<TMPL_VAR SETTINGS.HINT_USERNAME>">
					</td>
					<td width="5%" valign="middle">
						&nbsp;
					</td>
					<td width="20%">
						<font size="-1"><TMPL_VAR SETTINGS.HINT_USERNAME></font>
					</td>
			</tr>
		</table>
	</div>
	<p>
	&nbsp;
	</p>
	<p>
		<center>
			<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="./index.cgi?form=1"><TMPL_VAR SETTINGS.BUTTON_CANCEL></a>
				<button type="submit" form="main_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR SETTINGS.BUTTON_SAVE></button>
		</center>
</form>
</p>

<script>
$( document ).ready(function() {
	// Activate on Load
	disable();

	// Validates
	validate_enable('#settingsSmId');
	
	// Add some attributes PERL::CGI doesn't provide
	$('select[name=getdata]').attr('data-role','flipswitch');
	$('select[name=cron]').attr('data-mini','true');
									
	// Get Data
	$( document ).on( 'change', '#getdata', function ( e ) {
		if ( $( "select[name=getdata]" ).val()  === "1" ) {
			//alert("An!");
			$('#cron').removeClass('ui-disabled');
			$('#cron').selectmenu('refresh');
		} else {
			//alert("Aus!");
			$('#cron').addClass('ui-disabled');
			$('#cron').selectmenu('refresh');
		}
	});
									
}
</script>

<!-- Footer -->
<p><TMPL_VAR FOOTER.GREETING></p>

